@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");

:root {
  --green: #27ae60;
  --black: #2c2c54;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  /* background: #f5f5f5; */
}

*::selection {
  background: var(--green);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
  background: #f5f5f5;
}

section {
  padding: 2rem 3%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--green) !important;
  color: #fff;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: var(--black) !important;
}

.heading {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.heading span {
  color: var(--green);
  text-transform: uppercase;
}

.header-1 {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4%;
}

.logo {
  color: var(--black);
  font-weight: bolder;
  font-size: 3rem;
}

.logo i {
  padding-right: 0.5rem;
  color: var(--green);
}

.header-1 .search-box-container {
  display: flex;
  height: 4rem;
}

.header-1 a.logo {
  font-size: 30px;
  font-family: "PT Sans", sans-serif;
  color: #27ae60;
  width: 180px;
}

.header-1 .search-box-container #search-box {
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-size: 2.5rem;
  color: #333;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.header-1 .search-box-container .submit {
  height: 100%;
  width: 8rem;
  font-size: 2.5rem;
  color: #fff;
  background: var(--green);
  text-align: center;
  cursor: pointer;
}

.header-1 .search-box-container .submit:hover {
  background: var(--black);
}

.header-2 {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: var(--green);
}

.header-2 .navbar a {
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  color: var(--black);
}

.header-2 .navbar a:hover {
  background: var(--green);
  color: #fff;
}

.header-2 .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-2 .icons a {
  font-size: 2.5rem;
  color: var(--black);
  padding-left: 1rem;
}

.header-1 .logo-header {
  height: 60px;
  width: 120px;
}

.quantity-cart {
  transform: translate(2rem, -1rem);
}

.dropdown {
  position: relative;
  margin-left: 10px;
  z-index: 10;
}

.dropdown img {
  position: relative;
  margin-left: 10px;
  border-radius: 50%;
  border: solid 1px #27ae60;
}

.dropdown-contents {
  display: none;
  width: 300px;
  background-color: rgb(245, 241, 241);
  position: absolute;
  /* transform: translateX(-200px); */
  right: 0;
  border-radius: 2px;
  border: 1px solid var(--green);
}

.dropdown:hover .dropdown-contents {
  display: block;
}

.dropdown-contents .display-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

.dropdown-contents .display-info img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 1px #27ae60;
}

.dropdown-contents .display-info h1 {
  margin: 10px 0 0 10px;
  font-size: 30px;
  text-align: center;
}

.dropdown-contents hr {
  margin-top: 10px;
  border: #666 1px solid;
}

.dropdown-contents ul {
  list-style: none;
}

.dropdown-contents ul li {
  width: 100%;
  padding: 2px 3px;
}

.dropdown-contents ul li:hover {
  background-color: #bac34e;
}

#menu-bar {
  font-size: 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--black);
  padding: 0.8rem 1.5rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image {
  flex: 1 1 40rem;
  padding-top: 5rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
  margin: auto;
}

.home .content span {
  font-size: 3rem;
  color: #666;
  text-transform: uppercase;
  font-style: italic;
}

.home .content h3 {
  font-size: 5rem;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 700;
}

.bg-box {
  margin: 15px 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(223 222 222);
  padding: 20px;
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.category .box-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.category .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  flex: 1 1 25rem;
}

.category .box-container .box img {
  width: 20rem;
  margin: 0.5rem 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.category .box-container .box h3 {
  font-size: 3.5rem;
  color: var(--black);
}

.category .box-container .box p {
  font-size: 2rem;
  color: #666;
  padding: 0.5rem 0;
}

.category .box-container .box .btn {
  display: block;
}

.product .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.product .box-container .box {
  flex: 1 1 30rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product .box-container .box img {
  height: 20rem;
}

.product .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(0, 255, 0, 0.1);
  color: var(--green);
  padding: 0.7rem 0.3rem;
  font-size: 1.4rem;
}

.product .box-container .box .icons {
  position: absolute;
  top: 0.5rem;
  right: -6rem;
}

.product .box-container .box:hover .icons {
  right: 1rem;
}

.product .box-container .box .icons a {
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: var(--black);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  margin-top: 0.7rem;
}

.product .box-container .box .icons a:hover {
  background: var(--green);
  color: #fff;
}

.product .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.product .box-container .box .stars i {
  padding: 1rem 0.1rem;
  font-size: 1.7rem;
  color: gold;
}

.product .box-container .box .price {
  font-size: 2rem;
  color: #333;
  padding: 0.5rem 0;
}

.product .box-container .box .price span {
  font-size: 1.5rem;
  color: #999;
  text-decoration: line-through;
}

.product .box-container .box .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.product .box-container .box .quantity span {
  padding: 0 0.7rem;
  font-size: 1.7rem;
}

.product .box-container .box .quantity input {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--black);
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.05);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {

  height: 30px;
  margin: 0px;
}

input[type=number] {
  padding-right: 0 !important;
}

.product .box-container .box .btn {
  /* display: block; */
  width: 100%;
}

.product a.xemthem {
  top: 10px;
  font-size: 20px;
  text-align: center;
}

.product {
  text-align: center;
}

/* danh muc trang san pham */
.category h1 {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.category .box-container {
  border: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding: 4rem 0;
}

.category .box-container .box {
  text-align: center;
}

.category .box-container .box img {
  height: 15rem;
}

.category .box-container .box h3 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #666;
}

.category .box-container .box:hover h3 {
  color: #bac34e;
}

/* end danh muc trang san pham */
.footer .box-container {
  background-color: #32ff73;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer .box-container .box {
  padding: 1rem 1rem;
  flex: 1 1 25rem;
}

.footer .box-container .box .share a {
  padding: 0;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.footer .box-container .box p {
  font-size: 15px;
  color: #666;
  padding: 0.7rem 0;
  text-transform: none;
}

.footer .box-container .box .links {
  padding: 1rem 0;
}

.footer .box-container .box .links a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.7rem;
  color: #333;
}

.footer .box-container .box .links a:hover {
  text-decoration: underline;
  color: var(--green);
}

.footer .credit {
  padding: 1rem 1rem;
  background-color: #32ff7e;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.footer .credit span {
  color: var(--green);
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {

  .header-1,
  .header-2 {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .category .box-container .box img {
    margin: 0.5rem 0rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  .header-2 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 2rem;
    display: none;
  }

  .header-2 .navbar.active {
    display: initial;
    z-index: 1000;
  }

  .header-2 .navbar a {
    font-size: 2.5rem;
    display: block;
    text-align: center;
    background: #fff;
    padding: 1rem;
    margin: 1.5rem 0;
  }

  .home .content {
    text-align: center;
  }

  .home .content h3 {
    font-size: 4rem;
  }

  @media (max-width:760px) {
    .home .content span {
      font-size: 2rem;
    }

    .home .content h3 {
      font-size: 2rem;
    }
  }

  .deal {
    background-position: left;
  }

  .deal .content {
    max-width: 100%;
    text-align: center;
  }

  .deal .content .count-down {
    justify-content: center;
  }

  .contact form .inputBox input {
    width: 100%;
  }

  .newsletter h3 {
    font-size: 2.2rem;
  }

  .category .box-container .box img {
    margin: 0.5rem 0rem;
  }

  .category .box-container .box h3 {
    font-size: 1.6rem;
  }
}

/* css liên hệ */
.contact .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.contact .icons-container .icons {
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2.5rem;
  background: #bac34e;
  color: #fff;
  border-radius: 50%;
}

.contact .icons-container .icons h3 {
  color: #222;
  font-size: 2rem;
  padding: 1rem 0;
}

.contact .icons-container .icons p {
  color: #666;
  font-size: 1.5rem;
  line-height: 2;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.contact .row form {
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #222;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox .box,
.contact .row form textarea {
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
  text-transform: none;
  margin: 0.7rem 0;
}

.contact .row form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}

.contact .row img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
  width: 100%;
}

/* end liên hệ */

/* gioi thieu */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.about .content span {
  color: #bac34e;
  font-size: 2.5rem;
}

.about .content h3 {
  color: #222;
  font-size: 3rem;
  padding-top: 0.5rem;
}

.about .content p {
  color: #666;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.gallery .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.gallery .box-container .box {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 1s;

}

.gallery .box-container .box:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}

/* butto top */
#scroll-top {
  position: fixed;
  top: calc(100% - 15rem);
  right: 3rem;
  padding: .5rem 1rem;
  font-size: 4rem;
  background: var(--green);
  color: #fff;
  border-radius: .5rem;
  top: -120%;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.activebtn {
  top: calc(100% - 15rem);
}

/* end gioi thieu */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .header-1 {
    flex-flow: column;
  }

  .header-1 .search-box-container {
    width: 100%;
    margin-top: 2rem;
  }

  .logo {
    font-size: 4rem;
  }

  .deal .content .count-down .box h3 {
    font-size: 4rem;
  }

  .deal .content .count-down .box span {
    font-size: 1.5rem;
  }
}

#pagination {
  text-align: center;
  margin-top: 15px;
}

.page-item {
  border: 1px solid #ccc;
  padding: 5px 15px;
  color: #000;
}

.current-page {
  background: var(--green);
  color: #FFF;
}

/* verification */

col-md-6 i {
  margin-left: -30px;
  cursor: pointer;
}

.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
}

.navbar-brand,
.nav-link,
.my-form,
.login-form {
  font-family: Raleway, sans-serif;
}

.my-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.my-form .row {
  margin-left: 0;
  margin-right: 0;
}

.login-form {
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.login-form .row {

  margin-left: 0;
  margin-right: 0;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.notify {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.notify img {
  width: 200px;
}

.notify span {
  font-size: 16px;
}

/*---------------------
  Latest Product
-----------------------*/
.box-container1 {
  display: table;
  width: 100%;
}

.col1 {
  display: table-cell;
}

.latest-product {
  padding: 2rem 7%;
  display: flex;
}

.latest-product__text h4 {
  font-size: 2rem;
  display: flex;
  font-weight: 700;
  color: #1c1c1c;
}

.latest-product__item {
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
}

.latest-product__item__pic {
  float: left;
  margin-right: 26px;
  margin-top: -2rem;
}

.latest-product__item__pic a img {
  width: 90px;
  height: 90px;
}

.latest-product__item__text {
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 10rem;
  margin-right: 3em;
}

.latest-product__item__text h6 {
  color: #252525;
  margin-bottom: 8px;
  font-size: 2rem;
  color: var(--green);
}

.latest-product__item__text span {
  font-size: 18px;
  display: block;
  color: #252525;
  font-weight: 700;
}

.is-divider {
  height: 3px;
  display: block;
  background-color: rgba(0, 0, 0, .1);
  margin: 1em 0 1em;
  width: 100%;
  /* max-width: 30px; */
}

/* 
.is-divider__dr {
  height: 1px;
  display: block;
  background-color: rgba(0, 0, 0, .1);
  margin: 1em 0 1em;
  width: 100%;
} */

/* Loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container img {
  width: 30%;
}

.loader-container.fade-out {
  top: -120%;
}

/* media queries  */
@media (max-width: 991px) {
  .latest-product {
    display: block;
  }

  .latest-product__item__text h6 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .latest-product {
    display: block;
  }

  .latest-product__item__text h6 {
    font-size: 2.5rem;
  }
}

.latest-product__text1 h4 {
  font-size: 1rem;
  font-weight: 700;
  color: #1c1c1c;
}

.latest-product__item1 {
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
}

.latest-product__text1 h3 {
  font-size: 2rem;
  margin-top: 20px;
}

.latest-product__item__pic1 {
  float: left;
  margin-right: 26px;
  margin-top: -2rem;
}

.latest-product__item__pic1 a img {
  width: 50px;
  height: 50px;
}

.latest-product__item__text1 {
  overflow: hidden;
  padding-top: 10px;
}

.latest-product__item__text1 a h6 {
  color: #252525;
  margin-bottom: 8px;
  font-size: 1.5rem;
  color: var(--green);
}

.latest-product__item__text1 span {
  font-size: 1.3rem;
  display: block;
  color: #252525;
  font-weight: 700;
}

.is-divider1 {
  height: 3px;
  display: block;
  background-color: rgba(0, 0, 0, .1);
  /* margin: 1em 2em; */
  width: 100%;
  max-width: 30px;
}

.is-divider__dr1 {
  height: 1px;
  display: block;
  background-color: rgba(0, 0, 0, .1);
  margin: 1em 0 1em;
  width: 100%;
}

.describe-product {
  width: 500px;
}

.btnedit,
.btndelete:hover {
  cursor: pointer;
}

/* media queries  */
@media (max-width: 991px) {
  .latest-product1 {
    display: none;
  }
}

@media (max-width: 768px) {
  .latest-product1 {
    display: none;
  }

  .latest-product__text h4 {
    font-size: 2.2rem;
  }
}