* {
    overflow: hidden;
}

.sidebar-nav {
    height: 90%;
    overflow-y: auto;
}

.sidebar-nav .logout {
    position: fixed;
    width: 240px;
    bottom: 0;

}

.sidebar-nav .logout i {
    color: red !important;
}

.sidebar-nav .logout a {
    color: red !important;
    font-weight: bold !important;
}

.panel {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.panel-search {
    min-width: 300px;
}

.panel-search input {
    width: 100%;
    height: 100%;
    padding: 7px;
    font-size: 16px;
}

.table-list {
    overflow-y: auto;
    height: 75vh;
}

.table-scroll {
    overflow: scroll;
    height: 500px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2e2e2e;
}

.privilege-group ul {
    display: inline-flex;
    flex-wrap: wrap;
}
.page-wrapper{
    overflow-y: auto;
    height:92vh;
}